footer {
    background-color: $bg;
    .footer__inner {
        max-width: $w-xl;
        margin: 0 auto;
        text-align: center;
        padding: 5% 0;
        .footer-logo {
            margin-bottom: 18px;
        }
    }
    .footer_bottom {
        background-color: #000;
        .copyright {
            @include f(12, $ff, 50);
            color: #fff;
            padding: 5px 0;
            text-align: center;
        }
    }
}
