footer{
    background-color: $bg;
    .footer_inner{
        max-width: $w-xl;
        margin: 0 auto;
        text-align: center;
        padding: 5% 0;
        .footer_logo{
            margin-bottom: 18px;
        }
        .Copyright{
            @include f(12,$ff,50);
        }

    }
}